.taskItem {
  padding: 25px;
  border-radius: 10px;
  border: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;

  span {
    flex-grow: 1;
    max-width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    margin-right: 15px;

    a {
      color: #ba005c !important;
      text-decoration: none;
    }
  }
}

.select {
  .selectItem {
    background-color: #F3DDE1;
    color: #201A1B;
    width: 100%;
    padding: 5px;
  }
}
