.information {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ba005c;
  p {
    padding: 10px;
    font-size: 20px;
  }

  button {
    border: 2px solid #a80154;
    a {
      text-decoration: none;
      color: #666;
    }
  }
}
