.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;

  .container {
    max-width: 800px;
    width: 100%;

    h1 {
      font-weight: 500;
      font-size: 36px;
    }
  }
}
